html {
    font-size: 62.5%;
}
#container {
    line-height: 2;
    font-size: 1.6em;
    font-weight: 400;
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px;
    border: 4px solid #f1f1f1;
    width: 70%;
    max-width: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.items-input {
    position: relative;
    cursor: text;
}
.items-input input {
    font: inherit;
}
.items-input .items {
    min-height: 38px;
    padding: 6px 10px;
    padding-bottom: 2px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    overflow: hidden;
}
.items-input .item {
    float: left;
    margin-right: 10px;
    margin-bottom: 4px;
    background-color: #33C3F0;
    color: #fff;
    border-radius: 4px;
    padding: 0 4px;
    cursor: pointer;
}
.items-input .item:hover {
    color: #3c3c3c;
    background-color: #fff;
    text-decoration: line-through;
}
.items-input input {
    float: left;
    width: 150px;
    border: none;
    padding: 0;
    line-height: inherit;
    outline: none;
    margin: 0;
    margin-bottom: 4px;
}
.items-input .fields {
    display: none;
}
.items-input .suggestions {
    position: absolute;
    top: 0;
    left: 6px;
    right: 6px;
    overflow: hidden;
    padding: 4px;
    transform: translateY(-100%);
    z-index: 1;
}
.items-input .suggestions .suggestion {
    float: left;
    margin-right: 10px;
    margin-bottom: 4px;
    padding: 0 4px;
    border-radius: 4px;
    box-shadow: 0 0 2px #5f5f5f;
    background-color: #fff;
    cursor: pointer;
}
.items-input .suggestions .suggestion:hover {
    background-color: #33C3F0;
    color: #fff;
    box-shadow: 0 0 2px #9f9f9f;
}
.items-input .suggestions.is-hidden {
    display: none;
}
